auto-install-peers=true
enable-pre-post-scripts=true # Enable pre/post scripts (for postui:add)
node-linker=hoisted
link-workspace-packages=true

# Default hoisting for all packages including React
# Most packages will share the same React version (19.1.1)
