{
  "openapi": "3.1.0",
  "info": {
    "title": "Lightfast API",
    "version": "1.0.0-alpha",
    "description": "Real-time semantic search across all your company's data sources. This API is currently in alpha — breaking changes may occur between releases.",
    "contact": {
      "name": "Lightfast Support",
      "email": "support@lightfast.ai",
      "url": "https://lightfast.ai"
    }
  },
  "servers": [
    {
      "url": "https://lightfast.ai",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Semantic search across indexed content"
    },
    {
      "name": "Contents",
      "description": "Batch content retrieval by ID"
    },
    {
      "name": "Find Similar",
      "description": "Find similar content using vector similarity"
    },
    {
      "name": "Graph",
      "description": "Relationship graph traversal"
    },
    {
      "name": "Related",
      "description": "Find related events by observation"
    }
  ],
  "paths": {
    "/v1/search": {
      "post": {
        "tags": ["Search"],
        "operationId": "search",
        "summary": "Search",
        "description": "Search across your team's knowledge with semantic understanding and multi-path retrieval.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/contents": {
      "post": {
        "tags": ["Contents"],
        "operationId": "get-contents",
        "summary": "Get Contents",
        "description": "Fetch full content for specific documents or observations by their IDs. Batch endpoint supporting up to 50 IDs per request.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1ContentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ContentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/findsimilar": {
      "post": {
        "tags": ["Find Similar"],
        "operationId": "find-similar",
        "summary": "Find Similar",
        "description": "Find content similar to a given document or URL using vector similarity, entity overlap, and cluster analysis.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1FindSimilarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Similar content items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1FindSimilarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/graph": {
      "post": {
        "tags": ["Graph"],
        "operationId": "graph",
        "summary": "Relationship Graph",
        "description": "Traverse the relationship graph starting from a specific observation. Returns connected nodes and edges with relationship metadata.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1GraphRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Graph traversal results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/related": {
      "post": {
        "tags": ["Related"],
        "operationId": "find-related",
        "summary": "Find Related Events",
        "description": "Find events related to a specific observation, grouped by source and relationship type.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1RelatedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Related events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "V1SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "The search query text to find relevant documents"
          },
          "limit": {
            "default": 10,
            "description": "Maximum number of results to return (1-100, default: 10)",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "offset": {
            "default": 0,
            "description": "Result offset for pagination (default: 0)",
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "mode": {
            "default": "balanced",
            "description": "Search quality mode: 'fast' (speed), 'balanced' (default), 'thorough' (quality)",
            "type": "string",
            "enum": ["fast", "balanced", "thorough"]
          },
          "filters": {
            "description": "Optional filters to scope results by source type, observation type, actors, or date range",
            "type": "object",
            "properties": {
              "sourceTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "observationTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "actorNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "dateRange": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                }
              }
            }
          },
          "includeContext": {
            "default": true,
            "description": "Include contextual information like topic clusters (default: true)",
            "type": "boolean"
          },
          "includeHighlights": {
            "default": true,
            "description": "Include highlighted text snippets (default: true)",
            "type": "boolean"
          }
        },
        "required": ["query"]
      },
      "V1ContentsRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of document or observation IDs to fetch (1-50 IDs)"
          }
        },
        "required": ["ids"]
      },
      "V1FindSimilarRequest": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Document ID to find similar content for",
            "type": "string"
          },
          "url": {
            "description": "URL to find similar content for (alternative to id)",
            "type": "string",
            "format": "uri"
          },
          "limit": {
            "default": 10,
            "description": "Maximum number of similar items to return (1-50, default: 10)",
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          },
          "threshold": {
            "default": 0.5,
            "description": "Minimum similarity score 0-1 (default: 0.5)",
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "sameSourceOnly": {
            "default": false,
            "description": "Only return results from the same source type (default: false)",
            "type": "boolean"
          },
          "excludeIds": {
            "description": "Array of IDs to exclude from results",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filters": {
            "description": "Optional filters to scope results by source type, observation type, actors, or date range",
            "type": "object",
            "properties": {
              "sourceTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "observationTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "actorNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "dateRange": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                }
              }
            }
          }
        }
      },
      "V1GraphRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Observation ID to start graph traversal from"
          },
          "depth": {
            "default": 2,
            "description": "Traversal depth (1-3)",
            "type": "integer",
            "minimum": 1,
            "maximum": 3
          },
          "types": {
            "description": "Filter by relationship types",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["id"]
      },
      "V1RelatedRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Observation ID to find related events for"
          }
        },
        "required": ["id"]
      },
      "V1SearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "snippet": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "source": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "occurredAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "entities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": ["key", "category"],
                    "additionalProperties": false
                  }
                },
                "references": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "label": {
                        "type": "string"
                      }
                    },
                    "required": ["type", "id"],
                    "additionalProperties": false
                  }
                },
                "highlights": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "snippet": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "required": [
                "id",
                "title",
                "url",
                "snippet",
                "score",
                "source",
                "type"
              ],
              "additionalProperties": false
            }
          },
          "context": {
            "type": "object",
            "properties": {
              "clusters": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "topic": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "summary": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": ["topic", "summary", "keywords"],
                  "additionalProperties": false
                }
              },
              "relevantActors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "displayName": {
                      "type": "string"
                    },
                    "expertiseDomains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": ["displayName", "expertiseDomains"],
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "minimum": 0
              },
              "limit": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "took": {
                "type": "number",
                "minimum": 0
              },
              "mode": {
                "type": "string",
                "enum": ["fast", "balanced", "thorough"]
              },
              "paths": {
                "type": "object",
                "properties": {
                  "vector": {
                    "type": "boolean"
                  },
                  "entity": {
                    "type": "boolean"
                  },
                  "cluster": {
                    "type": "boolean"
                  },
                  "actor": {
                    "type": "boolean"
                  }
                },
                "required": ["vector", "entity", "cluster", "actor"],
                "additionalProperties": false
              }
            },
            "required": ["total", "limit", "offset", "took", "mode", "paths"],
            "additionalProperties": false
          },
          "latency": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "minimum": 0
              },
              "auth": {
                "type": "number",
                "minimum": 0
              },
              "parse": {
                "type": "number",
                "minimum": 0
              },
              "search": {
                "type": "number",
                "minimum": 0
              },
              "embedding": {
                "type": "number",
                "minimum": 0
              },
              "retrieval": {
                "type": "number",
                "minimum": 0
              },
              "entitySearch": {
                "type": "number",
                "minimum": 0
              },
              "clusterSearch": {
                "type": "number",
                "minimum": 0
              },
              "actorSearch": {
                "type": "number",
                "minimum": 0
              },
              "rerank": {
                "type": "number",
                "minimum": 0
              },
              "enrich": {
                "type": "number",
                "minimum": 0
              },
              "maxParallel": {
                "type": "number",
                "minimum": 0
              }
            },
            "required": ["total", "retrieval", "rerank"],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": ["data", "meta", "latency", "requestId"],
        "additionalProperties": false
      },
      "V1ContentsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "url": {
                  "type": "string"
                },
                "snippet": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "occurredAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "metadata": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              },
              "required": ["id", "title", "url", "snippet", "source", "type"],
              "additionalProperties": false
            }
          },
          "missing": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": ["items", "missing", "requestId"],
        "additionalProperties": false
      },
      "V1FindSimilarResponse": {
        "type": "object",
        "properties": {
          "source": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "cluster": {
                "type": "object",
                "properties": {
                  "topic": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "memberCount": {
                    "type": "number"
                  }
                },
                "required": ["topic", "memberCount"],
                "additionalProperties": false
              }
            },
            "required": ["id", "title", "type"],
            "additionalProperties": false
          },
          "similar": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "snippet": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "vectorSimilarity": {
                  "type": "number"
                },
                "entityOverlap": {
                  "type": "number"
                },
                "sameCluster": {
                  "type": "boolean"
                },
                "source": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "occurredAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                }
              },
              "required": [
                "id",
                "title",
                "url",
                "score",
                "vectorSimilarity",
                "sameCluster",
                "source",
                "type"
              ],
              "additionalProperties": false
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "took": {
                "type": "number"
              },
              "inputEmbedding": {
                "type": "object",
                "properties": {
                  "found": {
                    "type": "boolean"
                  },
                  "generated": {
                    "type": "boolean"
                  }
                },
                "required": ["found", "generated"],
                "additionalProperties": false
              }
            },
            "required": ["total", "took", "inputEmbedding"],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": ["source", "similar", "meta", "requestId"],
        "additionalProperties": false
      },
      "GraphResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "root": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "required": ["id", "title", "source", "type"],
                "additionalProperties": false
              },
              "nodes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "occurredAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "isRoot": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "source",
                    "type",
                    "occurredAt",
                    "url"
                  ],
                  "additionalProperties": false
                }
              },
              "edges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "string"
                    },
                    "target": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "linkingKey": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "confidence": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "source",
                    "target",
                    "type",
                    "linkingKey",
                    "confidence"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": ["root", "nodes", "edges"],
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "depth": {
                "type": "number"
              },
              "nodeCount": {
                "type": "number"
              },
              "edgeCount": {
                "type": "number"
              },
              "took": {
                "type": "number"
              }
            },
            "required": ["depth", "nodeCount", "edgeCount", "took"],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": ["data", "meta", "requestId"],
        "additionalProperties": false
      },
      "RelatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "source": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  }
                },
                "required": ["id", "title", "source"],
                "additionalProperties": false
              },
              "related": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "occurredAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "relationshipType": {
                      "type": "string"
                    },
                    "direction": {
                      "type": "string",
                      "enum": ["outgoing", "incoming"]
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "source",
                    "type",
                    "occurredAt",
                    "url",
                    "relationshipType",
                    "direction"
                  ],
                  "additionalProperties": false
                }
              },
              "bySource": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "source": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "occurredAt": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "url": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "relationshipType": {
                        "type": "string"
                      },
                      "direction": {
                        "type": "string",
                        "enum": ["outgoing", "incoming"]
                      }
                    },
                    "required": [
                      "id",
                      "title",
                      "source",
                      "type",
                      "occurredAt",
                      "url",
                      "relationshipType",
                      "direction"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            },
            "required": ["source", "related", "bySource"],
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "took": {
                "type": "number"
              }
            },
            "required": ["total", "took"],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": ["data", "meta", "requestId"],
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use your Lightfast API key (sk-lf-...) as the bearer token. Optionally include X-Workspace-ID header."
      }
    }
  }
}
