[data-theme="light"] {
  display: block;
}

[data-theme="dark"] {
  display: none;
}

.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  @apply ml-2 mr-4 inline-block py-1.5 font-mono text-xs text-muted-foreground;
  counter-increment: line;
  content: counter(line);
  text-align: right;
}

code[data-line-numbers] > [data-highlighted-line] {
  @apply relative rounded-md border border-muted bg-muted/50;
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}

.steps > h3 {
  @apply mb-4 mt-8 text-base font-semibold;
}
