{
  "info": {
    "title": "Lightfast API",
    "version": "1.0.0-alpha",
    "description": "Real-time semantic search across all your company's data sources. This API is currently in alpha — breaking changes may occur between releases.",
    "contact": {
      "name": "Lightfast Support",
      "email": "support@lightfast.ai",
      "url": "https://lightfast.ai"
    }
  },
  "servers": [
    {
      "url": "https://lightfast.ai",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Semantic search across indexed content"
    },
    {
      "name": "Proxy",
      "description": "Authenticated proxy to connected provider APIs (GitHub, Linear, Vercel, etc.)"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use your Lightfast API key (sk-lf-...) as the bearer token."
      }
    }
  },
  "openapi": "3.1.1",
  "paths": {
    "/v1/search": {
      "post": {
        "operationId": "search",
        "summary": "Search",
        "description": "Search across your team's knowledge with semantic understanding and multi-path retrieval.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The search query text to find relevant documents"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10,
                    "description": "Maximum number of results to return (1-100, default: 10)"
                  },
                  "offset": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991,
                    "default": 0,
                    "description": "Result offset for pagination (default: 0)"
                  },
                  "mode": {
                    "enum": [
                      "fast",
                      "balanced"
                    ],
                    "type": "string",
                    "default": "balanced",
                    "description": "Search quality mode: 'fast' (vector scores only), 'balanced' (Cohere rerank)"
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter by source provider (e.g. [\"github\", \"linear\", \"sentry\"])"
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Filter by entity type (e.g. [\"pull_request\", \"issue\", \"error\"])"
                  },
                  "after": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Only include results after this ISO 8601 datetime"
                  },
                  "before": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Only include results before this ISO 8601 datetime"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "snippet": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "source": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "occurredAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "snippet",
                          "score",
                          "source",
                          "type",
                          "url",
                          "occurredAt"
                        ]
                      }
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "requestId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "results",
                    "total",
                    "requestId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "BAD_REQUEST"
                        },
                        "status": {
                          "const": 400
                        },
                        "message": {
                          "type": "string",
                          "default": "Invalid request"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string",
                              "description": "The request field that caused the error"
                            },
                            "reason": {
                              "type": "string",
                              "description": "Why the request is invalid"
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Authentication required"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "FORBIDDEN"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Access denied"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Resource not found"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "resource": {
                              "type": "string",
                              "description": "The type of resource that was not found"
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxy/search": {
      "post": {
        "operationId": "proxy.search",
        "summary": "List proxy endpoints",
        "description": "Discover all connected providers and their available API endpoints. Returns the full endpoint catalog for each active connection.",
        "tags": [
          "Proxy"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "installationId": {
                            "type": "string",
                            "description": "Gateway installation ID"
                          },
                          "provider": {
                            "type": "string",
                            "description": "Provider name (e.g. github, linear, vercel)"
                          },
                          "status": {
                            "type": "string",
                            "description": "Connection status"
                          },
                          "baseUrl": {
                            "type": "string",
                            "description": "Provider API base URL"
                          },
                          "endpoints": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "endpointId": {
                                  "type": "string",
                                  "description": "Unique identifier for this endpoint in the provider catalog"
                                },
                                "method": {
                                  "enum": [
                                    "GET",
                                    "POST"
                                  ],
                                  "type": "string",
                                  "description": "HTTP method"
                                },
                                "path": {
                                  "type": "string",
                                  "description": "URL path template with {param} placeholders"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Human-readable description of what this endpoint does"
                                },
                                "pathParams": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Path parameter names extracted from the path template"
                                },
                                "timeout": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991,
                                  "exclusiveMinimum": 0,
                                  "description": "Custom timeout in milliseconds"
                                }
                              },
                              "required": [
                                "endpointId",
                                "method",
                                "path",
                                "description"
                              ]
                            },
                            "description": "Available API endpoints for this provider"
                          }
                        },
                        "required": [
                          "installationId",
                          "provider",
                          "status",
                          "baseUrl",
                          "endpoints"
                        ]
                      },
                      "description": "Connected providers and their available API endpoints"
                    }
                  },
                  "required": [
                    "connections"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "BAD_REQUEST"
                        },
                        "status": {
                          "const": 400
                        },
                        "message": {
                          "type": "string",
                          "default": "Invalid request"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string",
                              "description": "The request field that caused the error"
                            },
                            "reason": {
                              "type": "string",
                              "description": "Why the request is invalid"
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Authentication required"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "FORBIDDEN"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Access denied"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Resource not found"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "resource": {
                              "type": "string",
                              "description": "The type of resource that was not found"
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/proxy/execute": {
      "post": {
        "operationId": "proxy.execute",
        "summary": "Execute proxy request",
        "description": "Execute an API call through a connected provider. Authentication is injected automatically — you only need to specify the endpoint and parameters.",
        "tags": [
          "Proxy"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Gateway installation ID for the target connection"
                  },
                  "endpointId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Endpoint ID from the provider's API catalog"
                  },
                  "pathParams": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Values for path template parameters (e.g. { owner: 'acme' })"
                  },
                  "queryParams": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Query string parameters"
                  },
                  "body": {
                    "description": "JSON request body"
                  }
                },
                "required": [
                  "installationId",
                  "endpointId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991,
                      "description": "HTTP status code from the provider API"
                    },
                    "data": {
                      "description": "Response body from the provider API"
                    },
                    "headers": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response headers from the provider API"
                    }
                  },
                  "required": [
                    "status",
                    "headers"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "BAD_REQUEST"
                        },
                        "status": {
                          "const": 400
                        },
                        "message": {
                          "type": "string",
                          "default": "Invalid request"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "field": {
                              "type": "string",
                              "description": "The request field that caused the error"
                            },
                            "reason": {
                              "type": "string",
                              "description": "Why the request is invalid"
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Authentication required"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "FORBIDDEN"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Access denied"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Resource not found"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "resource": {
                              "type": "string",
                              "description": "The type of resource that was not found"
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}