@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";
@import "@repo/ui/globals.css";

/* Sidebar CSS variables */
.dark {
  --background: oklch(0 0 0);
  --card: oklch(0.12 0 0);

  --sidebar-width: 20rem;
  --sidebar-width-mobile: 18rem;
  --sidebar-width-icon: 3rem;
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: transparent;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: transparent;
  --sidebar-ring: oklch(0.556 0 0);
}
