{
  "openapi": "3.1.0",
  "info": {
    "title": "Lightfast API",
    "version": "1.0.0-alpha",
    "description": "Real-time semantic search across all your company's data sources. This API is currently in alpha — breaking changes may occur between releases.",
    "contact": {
      "name": "Lightfast Support",
      "email": "support@lightfast.ai",
      "url": "https://lightfast.ai"
    }
  },
  "servers": [
    {
      "url": "https://lightfast.ai",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Semantic search across indexed content"
    },
    {
      "name": "Contents",
      "description": "Batch content retrieval by ID"
    },
    {
      "name": "Find Similar",
      "description": "Find similar content using vector similarity"
    },
    {
      "name": "Graph",
      "description": "Relationship graph traversal"
    },
    {
      "name": "Related",
      "description": "Find related events by observation"
    }
  ],
  "paths": {
    "/v1/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "operationId": "search",
        "summary": "Search",
        "description": "Search across your team's knowledge with semantic understanding and multi-path retrieval.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/contents": {
      "post": {
        "tags": [
          "Contents"
        ],
        "operationId": "get-contents",
        "summary": "Get Contents",
        "description": "Fetch full content for specific documents or observations by their IDs. Batch endpoint supporting up to 50 IDs per request.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/findsimilar": {
      "post": {
        "tags": [
          "Find Similar"
        ],
        "operationId": "find-similar",
        "summary": "Find Similar",
        "description": "Find content similar to a given document or URL using vector similarity, entity overlap, and cluster analysis.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindSimilarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Similar content items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindSimilarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/related": {
      "post": {
        "tags": [
          "Related"
        ],
        "operationId": "find-related",
        "summary": "Find Related Events",
        "description": "Find events related to a specific observation, grouped by source and relationship type.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelatedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Related events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "The search query text to find relevant documents"
          },
          "limit": {
            "default": 10,
            "description": "Maximum number of results to return (1-100, default: 10)",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "offset": {
            "default": 0,
            "description": "Result offset for pagination (default: 0)",
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "mode": {
            "default": "balanced",
            "description": "Search quality mode: 'fast' (speed), 'balanced' (default), 'thorough' (quality)",
            "type": "string",
            "enum": [
              "fast",
              "balanced",
              "thorough"
            ]
          },
          "filters": {
            "description": "Optional filters to scope results by source type, observation type, or date range",
            "type": "object",
            "properties": {
              "sourceTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "observationTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "dateRange": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                }
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "entityTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "query"
        ]
      },
      "ContentsRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of document or observation IDs to fetch (1-50 IDs)"
          }
        },
        "required": [
          "ids"
        ]
      },
      "FindSimilarRequest": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Document ID to find similar content for",
            "type": "string"
          },
          "url": {
            "description": "URL to find similar content for (alternative to id)",
            "type": "string",
            "format": "uri"
          },
          "limit": {
            "default": 10,
            "description": "Maximum number of similar items to return (1-50, default: 10)",
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          },
          "threshold": {
            "default": 0.5,
            "description": "Minimum similarity score 0-1 (default: 0.5)",
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "sameSourceOnly": {
            "default": false,
            "description": "Only return results from the same source type (default: false)",
            "type": "boolean"
          },
          "excludeIds": {
            "description": "Array of IDs to exclude from results",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "filters": {
            "description": "Optional filters to scope results",
            "type": "object",
            "properties": {
              "sourceTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "observationTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "dateRange": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                }
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "entityTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RelatedRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "depth": {
            "default": 1,
            "type": "integer",
            "minimum": 1,
            "maximum": 3
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id"
        ]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "url": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "occurredAt": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "snippet": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "latestAction": {
                  "type": "string"
                },
                "totalEvents": {
                  "type": "number"
                },
                "significanceScore": {
                  "type": "number"
                },
                "entities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "key",
                      "category"
                    ],
                    "additionalProperties": false
                  }
                },
                "references": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "label": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "id",
                "title",
                "source",
                "type",
                "url",
                "occurredAt",
                "snippet",
                "score"
              ],
              "additionalProperties": false
            }
          },
          "context": {
            "type": "object",
            "properties": {
              "clusters": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "topic": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "summary": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "topic",
                    "summary",
                    "keywords"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "minimum": 0
              },
              "limit": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "took": {
                "type": "number",
                "minimum": 0
              },
              "mode": {
                "type": "string",
                "enum": [
                  "fast",
                  "balanced",
                  "thorough"
                ]
              },
              "paths": {
                "type": "object",
                "properties": {
                  "vector": {
                    "type": "boolean"
                  },
                  "entity": {
                    "type": "boolean"
                  },
                  "cluster": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "vector",
                  "entity",
                  "cluster"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "total",
              "limit",
              "offset",
              "took",
              "mode",
              "paths"
            ],
            "additionalProperties": false
          },
          "latency": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "minimum": 0
              },
              "auth": {
                "type": "number",
                "minimum": 0
              },
              "parse": {
                "type": "number",
                "minimum": 0
              },
              "search": {
                "type": "number",
                "minimum": 0
              },
              "embedding": {
                "type": "number",
                "minimum": 0
              },
              "retrieval": {
                "type": "number",
                "minimum": 0
              },
              "entitySearch": {
                "type": "number",
                "minimum": 0
              },
              "clusterSearch": {
                "type": "number",
                "minimum": 0
              },
              "rerank": {
                "type": "number",
                "minimum": 0
              },
              "enrich": {
                "type": "number",
                "minimum": 0
              },
              "maxParallel": {
                "type": "number",
                "minimum": 0
              }
            },
            "required": [
              "total",
              "retrieval",
              "rerank"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "meta",
          "requestId"
        ],
        "additionalProperties": false
      },
      "ContentsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "occurredAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "snippet": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "metadata": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "source",
                    "type",
                    "url",
                    "occurredAt",
                    "snippet"
                  ],
                  "additionalProperties": false
                }
              },
              "missing": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "items",
              "missing"
            ],
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              }
            },
            "required": [
              "total"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "meta",
          "requestId"
        ],
        "additionalProperties": false
      },
      "FindSimilarResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "source": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "title",
                  "type"
                ],
                "additionalProperties": false
              },
              "similar": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "occurredAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "snippet": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "similarity": {
                      "type": "number"
                    },
                    "entityOverlap": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "source",
                    "type",
                    "url",
                    "occurredAt",
                    "score",
                    "similarity"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "source",
              "similar"
            ],
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "took": {
                "type": "number"
              }
            },
            "required": [
              "total",
              "took"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "meta",
          "requestId"
        ],
        "additionalProperties": false
      },
      "RelatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "root": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "url": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "occurredAt": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "title",
                  "source",
                  "type",
                  "url",
                  "occurredAt"
                ],
                "additionalProperties": false
              },
              "nodes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "occurredAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "isRoot": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "source",
                    "type",
                    "url",
                    "occurredAt"
                  ],
                  "additionalProperties": false
                }
              },
              "edges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "string"
                    },
                    "target": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "linkingKey": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "confidence": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "source",
                    "target",
                    "type",
                    "linkingKey",
                    "confidence"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "root",
              "nodes",
              "edges"
            ],
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "depth": {
                "type": "number"
              },
              "nodeCount": {
                "type": "number"
              },
              "edgeCount": {
                "type": "number"
              },
              "took": {
                "type": "number"
              }
            },
            "required": [
              "depth",
              "nodeCount",
              "edgeCount",
              "took"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "meta",
          "requestId"
        ],
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use your Lightfast API key (sk-lf-...) as the bearer token. Optionally include X-Workspace-ID header."
      }
    }
  }
}