{
  "openapi": "3.1.0",
  "info": {
    "title": "Lightfast API",
    "version": "1.0.0-alpha",
    "description": "Real-time semantic search across all your company's data sources. This API is currently in alpha — breaking changes may occur between releases.",
    "contact": {
      "name": "Lightfast Support",
      "email": "support@lightfast.ai",
      "url": "https://lightfast.ai"
    }
  },
  "servers": [
    {
      "url": "https://lightfast.ai",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Semantic search across indexed content"
    },
    {
      "name": "Graph",
      "description": "Relationship graph traversal"
    }
  ],
  "paths": {
    "/v1/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "operationId": "search",
        "summary": "Search",
        "description": "Search across your team's knowledge with semantic understanding and multi-path retrieval.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "The search query text to find relevant documents"
          },
          "limit": {
            "default": 10,
            "description": "Maximum number of results to return (1-100, default: 10)",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "offset": {
            "default": 0,
            "description": "Result offset for pagination (default: 0)",
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "mode": {
            "default": "balanced",
            "description": "Search quality mode: 'fast' (speed), 'balanced' (default), 'thorough' (quality)",
            "type": "string",
            "enum": [
              "fast",
              "balanced",
              "thorough"
            ]
          },
          "filters": {
            "description": "Optional filters to scope results by source type, observation type, or date range",
            "type": "object",
            "properties": {
              "sourceTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "observationTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "dateRange": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                }
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "entityTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "query"
        ]
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "url": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "occurredAt": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "snippet": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "latestAction": {
                  "type": "string"
                },
                "totalEvents": {
                  "type": "number"
                },
                "significanceScore": {
                  "type": "number"
                },
                "entities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "key",
                      "category"
                    ],
                    "additionalProperties": false
                  }
                },
                "references": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "label": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "id",
                "title",
                "source",
                "type",
                "url",
                "occurredAt",
                "snippet",
                "score"
              ],
              "additionalProperties": false
            }
          },
          "context": {
            "type": "object",
            "properties": {
              "clusters": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "topic": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "summary": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "topic",
                    "summary",
                    "keywords"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "minimum": 0
              },
              "limit": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "took": {
                "type": "number",
                "minimum": 0
              },
              "mode": {
                "type": "string",
                "enum": [
                  "fast",
                  "balanced",
                  "thorough"
                ]
              },
              "paths": {
                "type": "object",
                "properties": {
                  "vector": {
                    "type": "boolean"
                  },
                  "entity": {
                    "type": "boolean"
                  },
                  "cluster": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "vector",
                  "entity",
                  "cluster"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "total",
              "limit",
              "offset",
              "took",
              "mode",
              "paths"
            ],
            "additionalProperties": false
          },
          "latency": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "minimum": 0
              },
              "auth": {
                "type": "number",
                "minimum": 0
              },
              "parse": {
                "type": "number",
                "minimum": 0
              },
              "search": {
                "type": "number",
                "minimum": 0
              },
              "embedding": {
                "type": "number",
                "minimum": 0
              },
              "retrieval": {
                "type": "number",
                "minimum": 0
              },
              "entitySearch": {
                "type": "number",
                "minimum": 0
              },
              "clusterSearch": {
                "type": "number",
                "minimum": 0
              },
              "rerank": {
                "type": "number",
                "minimum": 0
              },
              "enrich": {
                "type": "number",
                "minimum": 0
              },
              "maxParallel": {
                "type": "number",
                "minimum": 0
              }
            },
            "required": [
              "total",
              "retrieval",
              "rerank"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "data",
          "meta",
          "requestId"
        ],
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use your Lightfast API key (sk-lf-...) as the bearer token."
      }
    }
  }
}